body {
  background-color: #E7EBEC;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 10px 0 10px;
  margin: 0 auto;
  max-width: 900px;
}

.nav {
  border-bottom: 3px solid #000;
  padding-bottom: 9px;
  display: flex;
  justify-content: space-between;
}

.nav--logo {
  color: #000;
  font-family: 'Letter Gothic FS ExBd';
  font-size: 22px;
  line-height: 17px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav--link {
  font-family: 'Letter vince';
  font-size: 16px;
  text-decoration: none;
  color: #545454;
}

.nav--link::before {
  content: '\21e8';
}

.nav--link:hover {
  color: #000;
}

.hero {
  margin: 60px auto;
  max-width: 600px;
}

.hero--text {
  font-family: 'Letter vince';
  font-size: 18px;
  text-align: left;
}

@media screen and (max-width: 599px) {
  .hero {
    width: auto;
    margin: 60px 10px;
  }
}

.footer {
  margin-top: 10px;
  border-top: 3px solid #000;
  padding-top: 9px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer--link {
  font-family: 'Letter vince';
  font-size: 15px;
  text-decoration: none;
  color: #545454;
  float: right;
  margin: 0 2rem 0.5rem 2rem;
}

.footer--link:hover {
  color: #000;
}

@font-face {
  font-family: 'Letter vince';
  src: url('./static/Lettervince-Regular.woff2') format('woff2'),
      url('./static/Lettervince-Regular.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Letter Gothic FS ExBd';
  src: url('./static/LetterGothicFS-ExtraBold.woff2') format('woff2'),
      url('./static/LetterGothicFS-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}