.footer
  a.footer--link(href="https://github.com/Ratnasambhav") Github
  a.footer--link(href="https://linkedin.com/in/Ratnasambhav") LinkedIn
  a.footer--link(href="https://twitter.com/ratnasambhav732") Twitter
  a.footer--link(href="mailto:ratnasambhav@gmail.com") Mail