.footer {
  margin-top: 10px;
  border-top: 3px solid #000;
  padding-top: 9px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footerLink {
  font-family: 'LetterVINC';
  font-size: 15px;
  text-decoration: none;
  color: #545454;
  float: right;
  margin: 0 2rem 0.5rem 2rem;
}

.footerLink:hover {
  color: #000;
}