.hero {
  margin: 60px auto;
  max-width: 600px;
}

.heroHeader {
  font-size: 20px;
  font-family: LetterGothicFS;
  text-align: left;
}

.heroText {
  font-size: 18px;
  font-family: LetterVINC;
  text-align: justify;
}

@media screen and (max-width: 599px) {
  .hero {
    width: auto;
    margin: 60px 10px;
  }
}