@font-face {
  font-family: 'LetterGothicFS';
  src: url('../../static/LetterGothicFS-ExtraBold.woff') format('woff');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'LetterVINC';
  src: url('../../static/LetterVINC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:global(body) {
  background-color: #E7EBEC;
}

.navbar {
  border-bottom: 3px solid #000;
  padding-bottom: 9px;
}

.logo {
  color: #000;
  font-size: 22px;
  line-height: 17px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'LetterGothicFS';
}

.navLink {
  font-family: 'LetterVINC';
  font-size: 15px;
  text-decoration: none;
  color: #545454;
  float: right;
}

.navLink:hover {
  color: #000;
}