<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Ratnasambhav Priyadarshi
    link(rel="stylesheet", href="../sass/style.sass")
  body
    .container
      include includes/navbar.pug
      include includes/hero.pug
      include includes/footer.pug